<div class="mat-typography" fxLayout="row" fxLayoutAlign="center start">

  <div class="sidelinks" fxShow="false" fxShow.gt-sm fxFlex="none">
    <ul class="linklist">
      <li class="linkset">
        <h4>ADMISSIONS</h4>
        <ul>
          <li><a routerLink="pricing" routerLinkActive="active">Pricing & Fees</a></li>
          <li><a routerLink="process" routerLinkActive="active">Process</a></li>
          <li><a routerLink="apply" routerLinkActive="active">Apply</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="content" fxFlex>
    <router-outlet></router-outlet>
  </div>

</div>