<h1 class="mat-display-1 page-title">Secondary & IGCSE Education</h1>

<div class="section">
    <img class="banner" src="/assets/education/secondary/banner.jpg" />
</div>
<div class="section text-item">
    <p>Secondary instruction takes place in a separate building. Under the guidance of our high class Secondary teaching team
        grades 5 through IGCSE follow the Cambridge curriculum in a range of subjects, including but not limited to Maths,
        Science, Social Science, English as a First Language, Japanese, Hindi, Enterprise and ICT. </p>
    <p>
        We strive to teach our students not only the value of excellent academic achievement, but emphasise the value of community,
        achievements in other aspects of life, and the importance of living well. We also foster the students’ creativity
        and ingenuity through different activities (e.g. field trips), projects (e.g. studying ecosystems through keeping
        an aquarium and a garden), and after school clubs.
    </p>
    <p>
        Every year a number of events such as Annual Day, the PTA-led Autumn Fair, and Sports Day contribute to the students’ education
        and unforgettable school experience. Students are also given the opportunity to participate in spelling bees and
        speech and drama competitions, as well as external tests such as International Olympiad.
    </p>
    <p>
        Tathva International is a university preparatory school which aims to lay the foundations for eminence in the future lives
        of our students.
    </p>
    <p>
        Every day at Tathva is an opportunity for new knowledge and discovery. What will you learn today?
    </p>
</div>

<div class="section" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="2rem" fxLayoutAlign="space-around center">
    <img class="article-img" src="/assets/home/cie_logo.png" />
</div>