@import '../../../theme';

.letter-card {
  background-color: mat-color($tathva-app-accent);
  display: inline-block;
  height: 1rem;
  margin: 0 4px;
  padding: 2px;
  text-align: center;
  width: 1rem;
}
