<div class="mat-typography" fxLayout="row" fxLayoutAlign="center start">

  <div class="sidelinks" fxShow="false" fxShow.gt-sm>
    <ul class="linklist">
      <li class="linkset">
        <h4>ABOUT US</h4>
        <ul>
          <li><a routerLink="vision" routerLinkActive="active">Our Vision</a></li>
          <li><a routerLink="team" routerLinkActive="active">Our Team</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="content" fxFlex>
    <router-outlet></router-outlet>
  </div>

</div>