<h1 class="mat-display-1 page-title">Employment</h1>

<h1 class="content-title">Message from HR</h1>
<div class="section text-item">
    <p>As part of the growing community at Tathva International School, my goal is to ensure staff members feel at ease in their
        working environment. My responsibility is to provide students with the highest qualified teachers, who have the desire
        and passion to guide students’ learning.</p>
    <p>From my years of experience, I know, “A teacher affects eternity; he/she can never tell where his/her influence stops”.</p>

    <h1>Recruitment Process</h1>
    <p>Our interview process includes:</p>
    <mat-list>
        <mat-list-item>Screening profiles</mat-list-item>
        <mat-list-item>Face to face interview with panel members<br />(Skype is used as alternative)</mat-list-item>
        <mat-list-item>A demonstration class</mat-list-item>
        <mat-list-item>Reference check</mat-list-item>
    </mat-list>
</div>
<div class="section text-item">
    <h1>Teacher Requirements</h1>
    <mat-list>
        <mat-list-item>Minimum BA degree</mat-list-item>
        <mat-list-item>Preferred an MA degree or higher</mat-list-item>
        <mat-list-item>Licensed teacher (Teacher’s certificate)</mat-list-item>
        <mat-list-item>Computer literate</mat-list-item>
        <mat-list-item>Reliable and punctual</mat-list-item>
    </mat-list>
</div>
<div class="section text-item">
    <h1 class="content-title">Current Openings for 2017-18</h1>
    <mat-list>
        <mat-list-item>Certified Primary and Secondary Teacher (English, Science, Math)</mat-list-item>
        <mat-list-item>Japanese Teacher</mat-list-item>
    </mat-list>
</div>
<div class="section text-item">
    <h1 class="content-title">Apply</h1>
    <p>If interested in any of the job vacancies, please contact us via email at <a href="mailto:hr@tathva.ed.jp">hr@tathva.ed.jp</a></p>
</div>