<h1 class="mat-display-1 page-title">Employment</h1>

<h1 class="content-title">Message from HR</h1>
<p>As part of the growing community at Tathva International School, my goal is to ensure staff members feel at ease in their
    working environment. My responsibility is to provide students with the highest qualified teachers, who have the desire
    and passion to guide students’ learning.</p>
<p>From my years of experience, I know, “A teacher affects eternity; he/she can never tell where his/her influence stops”.</p>

<h1>Recruitment Process</h1>
<p>Our interview process includes:</p>
<md-list>
    <md-list-item>Screening profiles</md-list-item>
    <md-list-item>Face to face interview with panel members<br />(Skype is used as alternative)</md-list-item>
    <md-list-item>A demonstration class</md-list-item>
    <md-list-item>Reference check</md-list-item>
</md-list>

<h1>Teacher Requirements</h1>
<md-list>
    <md-list-item>Minimum BA degree</md-list-item>
    <md-list-item>Preferred an MA degree or higher</md-list-item>
    <md-list-item>Licensed teacher (Teacher’s certificate)</md-list-item>
    <md-list-item>Computer literate</md-list-item>
    <md-list-item>Reliable and punctual</md-list-item>
</md-list>

<h1 class="content-title">Current Openings for 2017-18</h1>
<md-list>
    <md-list-item>Certified Primary and Secondary Teacher (English, Science, Math)</md-list-item>
    <md-list-item>Japanese Teacher</md-list-item>
</md-list>

<h1 class="content-title">Apply</h1>
<p>If interested in any of the job vacancies, please contact us via email at <a href="mailto:hr@tathva.ed.jp">hr@tathva.ed.jp</a></p>