<h1 class="mat-display-1 page-title">Employment</h1>

<div class="section text-item">
    <p>Tathva International School, located in Tokyo, Japan, is currently searching for highly professional teachers to join
        our school community. We offer Pre-K to Cambridge IGCSE. </p>
    <p>Our strong focus on Science, Mathematics, and English is designed around the rigorous Cambridge programme.</p>
</div>

<h1 class="content-title">Current Job Openings</h1>
<div class="section text-item">
    <h2>Primary and Secondary Certified School Teachers – Math, Science, Social Studies, English</h2>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="panel-title">Overview & Requirements</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h2 class="content-title">Job Overview</h2>
        <div class="section text-item">
            <p>We are currently searching for Primary and Secondary School teachers who can:</p>
            <mat-list>
                <mat-list-item>carry out homeroom duties</mat-list-item>
                <mat-list-item>participate actively in parent-teacher meetings</mat-list-item>
                <mat-list-item>plan, prepare, and deliver lessons to all students</mat-list-item>
                <mat-list-item>assign, correct, and mark work</mat-list-item>
                <mat-list-item>assess, record, and report students’ progress </mat-list-item>
                <mat-list-item>carry out other related responsibilities</mat-list-item>
            </mat-list>
        </div>

        <h2 class="content-title">Job Requirements</h2>
        <mat-list class="section text-item">
            <mat-list-item>BA degree (MA or higher preferred)</mat-list-item>
            <mat-list-item>Teacher license / certification</mat-list-item>
            <mat-list-item>Computer literacy</mat-list-item>
            <mat-list-item>Reliability</mat-list-item>
            <mat-list-item>Good classroom management</mat-list-item>
            <mat-list-item>Punctuality</mat-list-item>
            <mat-list-item>Currently living in Japan</mat-list-item>
        </mat-list>
    </mat-expansion-panel>
</div>
<div class="section text-item">
    <h2>Japanese Teacher</h2>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="panel-title">Overview & Requirements</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h2 class="content-title">Job Requirements</h2>
        <mat-list class="section text-item">
            <mat-list-item><p >Japanese Language Education Proficiency Test</p></mat-list-item>
            <mat-list-item><p matLine>Japanese Language Education Training Course</p>
                <p matLine>420 hours completed</p></mat-list-item>
            <mat-list-item><p>Teacher License / Certification</p></mat-list-item>
        </mat-list>
    </mat-expansion-panel>
</div>

<h1 class="content-title">Job Benefits</h1>
<mat-list class="section text-item">
    <mat-list-item>Visa sponsorship (if applicable)</mat-list-item>
    <mat-list-item>Transportation allowance</mat-list-item>
    <mat-list-item>Health insurance reimbursement</mat-list-item>
    <mat-list-item>Paid vacations</mat-list-item>
    <mat-list-item>Salary (to be discussed)</mat-list-item>
    <mat-list-item>Others (to be discussed)</mat-list-item>
</mat-list>

<h1 class="content-title">Apply</h1>
<div class="section text-item">
    <p>If interested in any of the job vacancies, please contact us via email at
        <a href="mailto:hr@tathva.ed.jp">hr@tathva.ed.jp</a>
    </p>
</div>