@import 'src/theme';

h1 {
  &.page-title {
    border-bottom: 4px solid mat-color($tathva-app-primary);
    font-family: $brand-font;
    margin-bottom: 16px;
  }

  &.content-title {
    border-bottom: 1px solid mat-color($tathva-app-primary);
    margin-top: 16px;
  }
}

.section {
  margin-bottom: 16px;
}
