@import 'src/theme';

.page {
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  &.page-title {
    border-bottom: 4px solid mat-color($tathva-app-primary);
    font-family: $brand-font;
    margin-bottom: 16px;
  }

  &.content-title {
    border-bottom: 1px solid mat-color($tathva-app-primary);
    margin-top: 16px;
  }
}

.section {
  margin-bottom: 16px;
}


a {
  color: mat-color($tathva-app-primary);

  &:hover {
    color: mat-color($tathva-app-accent);
  }

  &.button {
    color: inherit;
    text-decoration: none;
  }
}
