@import '../../../theme';

.calendar-card {
  background-color: mat-color($tathva-app-primary);
  color: $fore-color;
  height: 150px;
  margin-right: 32px;
  max-width: 200px;
  width: 200px;
}

.mat-card-title {
  font-family: $brand-font;
  font-size: 2rem;
}

.mat-card-subtitle {
  color: $fore-color;
}
