<div class="mat-typography" fxLayout="row" fxLayoutAlign="center start">

  <div class="sidelinks" fxShow="false" fxShow.gt-sm>
    <ul class="linklist">
      <li class="linkset">
        <h4>CONTACT US</h4>
        <ul>
          <li><a routerLink="contact-us" routerLinkActive="active">Contact & Access</a></li>
          <li><a routerLink="employment" routerLinkActive="active">Employment</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="content" fxFlex>
    <router-outlet></router-outlet>
  </div>

</div>