<h1 class="mat-display-1 page-title">Kindergarten Education</h1>

<div class="section">
  <img class="banner" src="/assets/education/kindergarten/banner.jpg" />
</div>
<div class="section text-item">
  <p>Since the year 2010, Tathva International School has been offering the highest quality education for students aged 3 to
    6 through the International Preschool Curriculum (IPC) and the world renowned Cambridge Curriculum. These curriculums
    are designed for a thematic-based and fun learning experience for children in all academic stages of life. </p>
  <p>
    The Kindergarten comprises three grades. First time learners, ages 3 to 4, are placed in Cubs. In this group, students will
    be introduced to new and exciting themes such as “Under the Sea”, “Money, Shops and Jobs”, “Around the World” and many
    more! The Cubs students will learn subjects such as social skills, fine and gross motor skills, phonics and numbers.
    This stage is very important, building a solid foundation for the child to build upon.

  </p>
  <p>
    The next grade is Pandas. This group consists of ages 4 to 5 and will focus on further honing their motor skills, numeracy,
    and phonics. Pandas will learn three-letter sight words (CVC) and simple sentences using the words they’ve learned. Still
    using the IPC this group will experience new themes such as “Who Am I”, “Health, Safety, and Hygiene”, “At The Farm”
    and more! Pandas have lots of fun while learning more about themselves and the wonderful world we live in through interactive
    lessons and discussions.
  </p>
  <p>
    The final grade for Tathva International Kindergarten is the Dolphins class. Dolphins no longer use the IPC but instead the
    Cambridge Stage One. Dolphins focus stronger on academics, phonics, math and science! Even though they do not follow
    the IPC curriculum, Dolphins have fun learning about themes such as “Five Senses”, “Our Universe”, “Flowers and Plants”
    and so much more! This class will not only prepare your child for a wonderful future with the Cambridge Accredited Primary
    Grades, but give them the opportunity to explore skills and life in a fun and exciting manner!
  </p>
  <p>
    Each of the grades in Kindergarten will take part in field trips, end of the month theme parties, show and tell, community
    service week, holiday celebrations, Autumn Fair, Winter Concert, and Annual Day where we showcase the student’s coordination
    and musical abilities. Tathva International Kindergarten keeps a full and exciting schedule for students, parents, and
    community members alike.
  </p>
  <p>
    It may seem like a lot to be done, but with the help of our nurturing and dedicated staff, supportive and structured class
    environment beside our wonderful curriculums, every student is given the opportunity to focus on more than just learning
    but social development. We believe our students should not only learn, but grow as person and we grow together as a team.
  </p>
  <p>
    Please contact admissions to find out more!
  </p>
</div>

<div class="section" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="2rem" fxLayoutAlign="space-around center">
  <img class="article-img" src="/assets/home/ipc_logo.png" />
  <img class="article-img" src="/assets/home/cie_logo.png" />
</div>