<md-sidenav-container fullscreen>
    <md-sidenav #sidenav mode="push">
        <md-nav-list dense (click)="sidenav.close()">
            <app-sidebar-item *ngFor="let link of nav_links" [item]="link"></app-sidebar-item>
        </md-nav-list>
    </md-sidenav>

    <header class="mat-elevation-z3">
        <md-toolbar color="primary">
            <button md-button (click)="sidenav.open()" fxHide="false" fxHide.gt-sm class="md-small">
                <md-icon>menu</md-icon>
            </button>

            <button md-button routerLink="/">
                <h1><md-icon>home</md-icon> 
                Tathva International School</h1>
            </button>

            <!-- This fills the remaining space of the current row -->
            <span class="fill-remaining-space"></span>
            <div fxLayout="row" fxShow="false" fxShow.gt-sm>
                <ul class="navlist">
                    <li *ngFor="let link of nav_links">
                        <app-menu-item [item]="link"></app-menu-item>
                    </li>
                </ul>
            </div>

        </md-toolbar>
    </header>

    <div class="site">

        <section >
            <router-outlet></router-outlet>
        </section>

        <footer>
            <md-toolbar class="footer" color="primary">
                <ul class="linklist" fxShow="false" fxShow.gt-sm>
                    <li *ngFor="let item of nav_links" class="linkset">
                        <h3>{{item.title | uppercase}}</h3>
                        <ul>
                            <li *ngFor="let link of item.links"><a routerLink="{{link.url}}" color="accent">{{link.name}}</a></li>
                        </ul>
                    </li>
                </ul>
                <span class="fill-remaining-space" fxShow="false" fxShow.gt-sm></span>
                <md-list dense class="contact-list">
                    <md-list-item>
                        <md-icon md-list-icon>phone</md-icon>
                        <a md-line href="tel:0368089090">03-6808-9090</a>
                    </md-list-item>
                    <md-list-item>
                        <md-icon md-list-icon>mail</md-icon>
                        <a md-line href="mailto:info@tathva.ed.jp">info@tathva.ed.jp</a>
                    </md-list-item>
                    <md-list-item>
                        <md-icon md-list-icon>pin_drop</md-icon>
                        <a md-line href="https://goo.gl/fajcss" target="_blank">
                            4-1-1 Higashi Komatsugawa<br />
                            Edogawa-ku<br />
                            Tokyo 132-0033
                        </a>
                    </md-list-item>
                </md-list>
            </md-toolbar>
        </footer>
    </div>
</md-sidenav-container>