@import 'src/theme';

.mat-button {
  &.mat-small {
    min-width: 1%;
    padding: 0 8px;
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.site {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: calc(100vh - 64px);
}

.site-container {
  height: 100%;
}

mat-sidenav-container {
  bottom: 0;
  position: relative;
  top: 64px;
}

.open-nav {
  height: calc(100% - 64px);
}

mat-sidenav {
  height: 100%;
  width: 200px;
}

// For shrinking toolbar on mobile
@media (max-width: 600px) {
  .site {
    min-height: calc(100vh - 56px);
  }

  .open-nav {
    height: calc(100% - 56px);
  }

  mat-sidenav-container {
    top: 56px;
  }
}

.mat-nav-list {
  h3 {
    a {
      color: $dark;
    }
  }

  a {
    &:focus {
      outline: 0;
    }
  }
}

.header-bar {
  position: fixed;
  top: 0;
  z-index: 100;
}

mat-toolbar {

  h1 {
    font-family: $brand-font;
  }

  .navlist {
    list-style-type: none;

    li {
      display: inline;
    }

    li~li {
      border-left: 1px solid;
    }
  }

  .linklist {
    list-style-type: none;
    padding-left: 0;
    padding-top: 120px;

    li {
      display: inline-block;
      vertical-align: top;
    }

    ul > li {
      display: list-item;
      list-style-type: none;
    }

    li > ul {
      padding-left: 0;
    }

    h3 {
      font-size: .8em;
    }

    a {
      font-size: .6em;
      text-decoration: none;
    }

    .linkset {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

section {
  flex: 1;
  padding-bottom: -$footer-height;
}

footer {

  mat-toolbar {
    height: $footer-height;
  }

  a {
    color: mat-color($tathva-app-accent);
  }
}

.mat-list.contact-list {
  padding-top: 120px;
}

.mat-list-item {
  line-height: 24px;

  a {
    text-decoration: none;
  }
}

.logo {
  background-image: url('/assets/logo_lg.png');
  background-size: cover;
  height: 48px;
  margin-right: 1rem;
  width: 48px;
}

// Need to manually set this for small pages
.mat-card-avatar {
  border-radius: 50%;
  flex-shrink: 0;
}

.title {

  h1 {
    font-size: 1.5rem;
  }

  // Scale down the title per screen size
  @media screen and (max-width: $screen-mat) {
    h1 {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: $screen-ss) {
    h1 {
      font-size: 6vw;
    }
  }
}
