@import 'src/theme';

.mat-button {
  &.md-small {
    min-width: 1%;
    padding: 0 8px;
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 64px);
}

md-sidenav {
  height: 100%;
  width: 200px;
}

md-toolbar {

  .navlist {
    list-style-type: none;

    li {
      display: inline;
    }

    li~li {
      border-left: 1px solid;
    }
  }

  .linklist {
    list-style-type: none;
    padding-left: 0;
    padding-top: 120px;

    li {
      display: inline-block;
      vertical-align: top;
    }

    ul > li {
      display: list-item;
      list-style-type: none;
    }

    li > ul {
      padding-left: 0;
    }

    h3 {
      font-size: .8em;
    }

    a {
      font-size: .6em;
      text-decoration: none;
    }

    .linkset {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

section {
  flex: 1;
  padding-bottom: -$footer-height;
}

footer {
  md-toolbar {
    height: $footer-height;
  }

  a {
    color: mat-color($tathva-app-accent);
  }
}

.mat-list.contact-list {
  padding-top: 120px;
}

.mat-list-item {
  line-height: 24px;

  a {
    text-decoration: none;
  }
}

.logo {
  background-image: url('/assets/logo_sm.png');
  background-size: cover;
  height: 48px;
  margin-right: 1rem;
  width: 48px;
}

.title {
  color: $fore-color;
  text-decoration: none;

  h1 {
    font-size: 1.5rem;
  }
}