@import '../../../theme';

.cards-container {
  width: 100%;
}

.values-card {
  background-color: mat-color($tathva-app-secondary);
  color: $fore-color;
  max-width: 60vw;
  width: 60vw;
}
@media screen and (min-width: $screen-sm) {

  .values-card {
    max-width: 300px;
  }
}