<h1 class="mat-display-1 page-title">Our Vision</h1>

<!-- <h1 class="content-title">Message from the CEO</h1> -->
<div class="section body-item text-centered">
    <p>
        <app-bullet-card>To</app-bullet-card>&nbsp;provide an international education infused with Japanese culture and tradition.
    </p>
    <p>
        <app-bullet-card>To</app-bullet-card>&nbsp;offer an internationally-recognized curriculum with the expertise brought by experienced
        and qualified teachers who can create pathways to better higher education opportunities for students.
    </p>
    <p>
        <app-bullet-card>To</app-bullet-card>&nbsp;ensure quality of infrastructure, resources, facilities in order to uphold a comfortable
        working and learning environment.
    </p>
    <p>
        <app-bullet-card>To</app-bullet-card>&nbsp;be able to support students' needs.
    </p>
    <p>
        <app-bullet-card>To</app-bullet-card>&nbsp;prepare today's learners for the challenges of tomorrow's competitive world.
    </p>
</div>

<h1 class="content-title">Our Core Values</h1>
<div class="cards-container">
    <div class="cards" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="2rem" fxLayoutAlign="space-between center" 
            fxLayoutAlign.gt-xs="center">
        <mat-card class="values-card" fxFlex>
            <mat-card-title>Educate</mat-card-title>
            <mat-card-content>
                <p>
                    children with strong fundamentals and encourage them to apply and experience their learnings.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="values-card" fxFlex>
            <mat-card-title>Engage</mat-card-title>
            <mat-card-content>
                <p>
                    children’s personality by teaching them to be self-reliant, confident, socially responsible.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="values-card" fxFlex>
            <mat-card-title>Enlighten</mat-card-title>
            <mat-card-content>
                <p>
                    children to identify their dream &amp; inspire them to be a leader in the field of their choice.
                </p>
            </mat-card-content>
        </mat-card>
    </div>