<h1 class="mat-display-1 page-title">Our Vision</h1>

<div class="section">
    <img class="banner" src="/assets/about/vision/banner.jpg" />
</div>

<h1 class="content-title">Message from the CEO</h1>
<div class="section text-item">
    <p>
        Greetings, I am Kazumasa Sugita, chairman of Sugita Gakuen recognised by the Ministry of Education.
    </p>

    <p>

    </p>

</div>

<h1 class="content-title">Our Core Values</h1>
<div class="cards-container">
    <div class="cards" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="2rem" fxLayoutAlign="space-between center" fxLayoutAlign.gt-xs="center">
        <mat-card class="values-card" fxFlex>
            <mat-card-title>Educate</mat-card-title>
            <mat-card-content>
                <p>
                    children with strong fundamentals and encourage them to apply and experience their learnings.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="values-card" fxFlex>
            <mat-card-title>Engage</mat-card-title>
            <mat-card-content>
                <p>
                    children’s personality by teaching them to be self-reliant, confident, socially responsible.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="values-card" fxFlex>
            <mat-card-title>Enlighten</mat-card-title>
            <mat-card-content>
                <p>
                    children to identify their dream &amp; inspire them to be a leader in the field of their choice.
                </p>
            </mat-card-content>
        </mat-card>
    </div>