<h1 class="mat-display-1 page-title">Our Team</h1>

<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="1rem">
  <md-card>
    <md-card-header>
      <div md-card-avatar class="head-avatar"></div>
      <md-card-title class="title">Imran Shaikh</md-card-title>
      <md-card-subtitle>Head of Academics</md-card-subtitle>
    </md-card-header>
  </md-card>

  <md-card>
    <md-card-title-group>
      <md-card-title>Imran Shaikh</md-card-title>
      <md-card-subtitle>Head of Academics</md-card-subtitle>
    </md-card-title-group>
    <img md-card-image src="assets/about/team/head_cropped.jpg">
    <md-card-content>
      <p>
        Greetings from Tathva International School! Affiliated with the International Pre-School Curriculum (IPC) for the kindergarten
        and with the University of Cambridge International Examinations (CIE) for primary and secondary supplemented with
        qualified and experienced team of teachers from 16 countries gives us the edge in preparing and creating successful
        learners thus ensuring all learners get a truly international education. I welcome you to visit our school and take
        the opportunity to experience the positive learning atmosphere here.
      </p>
    </md-card-content>
  </md-card>
</div>