<h1 class="mat-display-1 page-title">Our Team</h1>

<div fxFlexAlign="center" class="text-item">
<p>A top class education requires world class educators. At Tathva we are proud to have a teaching body comprising of experienced,
  qualified and professional teachers from a number of countries, including: Canada, the UK, Hong Kong, USA, Philippines,
  Australia, Japan, China and India. This allows our students access to a truly international experience, not only following
  the Cambridge curriculum, but also adapting techniques from the US Common Core, the UK National Curriculum and educational
  systems from countries around the world.
</p>
<p>
  At Tathva we aspire to create culturally sensitive, environmentally responsible global citizens who are prepared and capable
  of becoming the leaders of tomorrow's generation.
</p>
<p>
  Tathva International School - Your future starts here.
</p>
</div>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="head-avatar"></div>
    <mat-card-title class="title">Imran Shaikh</mat-card-title>
    <mat-card-subtitle>Head of Academics</mat-card-subtitle>
  </mat-card-header>
</mat-card>