md-card {
  max-width: 300px;
  width: 80vw;
}

.head-avatar {
  background-image: url('/assets/about/team/head.jpg');
  background-size: cover;
  height: 64px;
  margin-right: 1rem;
  width: 64px;
}

.title {
  font-size: 1.5rem;
}
