@import 'src/theme';

.address-card {
  max-width: 300px;
  min-width: 300px;
}

.address-img {
  height: 200px;
}

.mail-card {
  max-width: 200px;
  min-width: 200px;
}

@media screen and (max-width: 1023px) {
  .address-card,
  .mail-card {
    max-width: 85vw;
    width: 85vw;
  }
}

a {
  color: mat-color($tathva-app-primary);

  &:hover {
    color: mat-color($tathva-app-accent);
  }
}
