@import 'src/theme';

.address-card {
  max-width: 300px;
  min-width: 300px;
}

.address-img {
  max-height: 200px;
}

.mail-card {
  max-width: 200px;
  min-width: 200px;
}

@media screen and (max-width: $screen-sm) {
  .address-card,
  .mail-card {
    max-width: 85vw;
    width: 85vw;
  }
}