<h1 class="mat-display-1 page-title">Contact & Access</h1>

<h1 class="content-title">Find Us</h1>
<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-around center" fxLayoutGap="1rem" class="section">
    <mat-card class="address-card mat-elevation-z4">
        <mat-card-title-group>
            <mat-card-title>Kindergarten, Grade 1</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-title-group>
        <img mat-card-image class="address-img" src="assets/contact/kinder.jpg">
        <mat-card-content>
            <mat-list dense class="contact-list">
                <a mat-list-item href="tel:0368089090">
                    <mat-icon mat-list-icon>phone</mat-icon>
                    <span mat-line>03-6808-9090</span>
                </a>
                <a mat-list-item href="https://goo.gl/maps/ZGjbDe8Rbaq" target="_blank" rel="noopener">
                    <mat-icon mat-list-icon>pin_drop</mat-icon>
                    <p mat-line>4-1-19 Higashi Komatsugawa,</p>
                    <p mat-line>Edogawa-ku Tokyo, 132-0033 Japan</p>
                </a>
                <mat-list-item>
                    10 minute walk from Funabori Station on the Shinjuku Line
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>

    <mat-card class="address-card mat-elevation-z4">
        <mat-card-title-group>
            <mat-card-title>Grades 2 & 3</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-title-group>
        <img mat-card-image class="address-img" src="assets/contact/secondary.jpg">
        <mat-card-content>
            <mat-list dense class="contact-list">
                <a mat-list-item href="tel:0368089965">
                    <mat-icon mat-list-icon>phone</mat-icon>
                    <span mat-line>03-6808-9965</span>
                </a>
                <a mat-list-item href="https://goo.gl/xfZUtc" target="_blank" rel="noopener">
                    <mat-icon mat-list-icon>pin_drop</mat-icon>
                    <p mat-line>2-5-12 Kita Kasai,</p>
                    <p mat-line>Tokyo, 134-0081 Japan</p>
                </a>
                <mat-list-item>
                    20 minute walk from Funabori Station on the Shinjuku Line
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>

    <mat-card class="address-card mat-elevation-z4">
        <mat-card-title-group>
            <mat-card-title>Office, Grades 4 - 10</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-title-group>
        <img mat-card-image class="address-img" src="assets/contact/kiba.jpg">
        <mat-card-content>
            <mat-list dense class="contact-list">
                <a mat-list-item href="tel:0356465280">
                    <mat-icon mat-list-icon>phone</mat-icon>
                    <span mat-line>03-5646-5280</span>
                </a>
                <a mat-list-item href="https://goo.gl/maps/znhuHo9j29F2" target="_blank" rel="noopener">
                    <mat-icon mat-list-icon>pin_drop</mat-icon>
                    <p mat-line>3-14-4 Kiba,</p>
                    <p mat-line>Koto-ku Tokyo, 135-0042 Japan</p>
                </a>
                <mat-list-item>
                    10 minute walk from Kiba Station on the Tozai Line
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>
<h1 class="content-title">Email Us</h1>
<div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="space-around center" fxLayoutGap="1rem" class="section">
    <mat-card class="mail-card" [ngClass]="elevationAdmissions" (mouseover)="elevationAdmissions='mat-elevation-z7'" (mouseout)="elevationAdmissions='mat-elevation-z4'">
        <mat-card-title class="title">For Admissions</mat-card-title>
        <mat-card-content>
            <a href="mailto:admissions@tathva.ed.jp">admissions@tathva.ed.jp</a>
        </mat-card-content>
    </mat-card>
    <mat-card class="mail-card" [ngClass]="elevationInfo" (mouseover)="elevationInfo='mat-elevation-z7'" (mouseout)="elevationInfo='mat-elevation-z4'">
        <mat-card-title class="title">For Inquiries</mat-card-title>
        <mat-card-content>
            <p>
                <a href="mailto:inquiry@tathva.ed.jp">inquiry@tathva.ed.jp</a>
                <br/>If you are a parent of a student currently studying at the school.
            </p>
            <p>
                <a href="mailto:info@tathva.ed.jp">info@tathva.ed.jp</a>
                <br/>For any other inquiries.
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="mail-card" [ngClass]="elevationJob" (mouseover)="elevationJob='mat-elevation-z7'" (mouseout)="elevationJob='mat-elevation-z4'">
        <mat-card-title class="title">For Jobs</mat-card-title>
        <mat-card-content>
            <a href="mailto:hr@tathva.ed.jp">hr@tathva.ed.jp</a>
        </mat-card-content>
    </mat-card>
</div>