<h1 class="mat-display-1 page-title">Contact & Access</h1>

<h1 class="content-title">Find Us</h1>
<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-around center" fxLayoutGap="1rem" class="section">
    <md-card class="address-card mat-elevation-z4">
        <md-card-title-group>
            <md-card-title>Kindergarten, Grades 1 - 4</md-card-title>
            <md-card-subtitle></md-card-subtitle>
        </md-card-title-group>
        <img md-card-image class="address-img" src="assets/contact/kinder.jpg">
        <md-card-content>
            <md-list dense class="contact-list">
                <a md-list-item href="tel:0368089090">
                    <md-icon md-list-icon>phone</md-icon>
                    <span md-line>03-6808-9090</span>
                </a>
                <a md-list-item href="https://goo.gl/fajcss" target="_blank">
                    <md-icon md-list-icon>pin_drop</md-icon>
                    <p md-line>4-1-1 Higashi Komatsugawa,</p>
                    <p md-line>Edogawa-ku Tokyo, 132-0033 Japan</p>
                </a>
                <md-list-item>
                    10 minute walk from Funabori Station on the Shinjuku Line
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>

    <md-card class="address-card mat-elevation-z4">
        <md-card-title-group>
            <md-card-title>Grades 5 - 10</md-card-title>
            <md-card-subtitle></md-card-subtitle>
        </md-card-title-group>
        <img md-card-image class="address-img" src="assets/contact/secondary.jpg">
        <md-card-content>
            <md-list dense class="contact-list">
                <a md-list-item href="tel:0368089965">
                    <md-icon md-list-icon>phone</md-icon>
                    <span md-line>03-6808-9965</span>
                </a>
                <a md-list-item href="https://goo.gl/xfZUtc" target="_blank">
                    <md-icon md-list-icon>pin_drop</md-icon>
                    <p md-line>2-5-12 Kita Kasai,</p>
                    <p md-line>Tokyo, 134-0081 Japan</p>
                </a>
                <md-list-item>
                    20 minute walk from Funabori Station on the Shinjuku Line
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</div>
<h1 class="content-title">Email Us</h1>
<div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="space-around center" fxLayoutGap="1rem" class="section">
    <md-card class="mail-card" [ngClass]="elevationAdmissions" (mouseover)="elevationAdmissions='mat-elevation-z7'" (mouseout)="elevationAdmissions='mat-elevation-z4'">
        <md-card-title class="title">For Admissions</md-card-title>
        <md-card-content>
            <a href="mailto:admissions@tathva.ed.jp">admissions@tathva.ed.jp</a>
        </md-card-content>
    </md-card>
    <md-card class="mail-card" [ngClass]="elevationInfo" (mouseover)="elevationInfo='mat-elevation-z7'" (mouseout)="elevationInfo='mat-elevation-z4'">
        <md-card-title class="title">For Inquiries</md-card-title>
        <md-card-content>
            <a href="mailto:info@tathva.ed.jp">info@tathva.ed.jp</a>
        </md-card-content>
    </md-card>
    <md-card class="mail-card" [ngClass]="elevationJob" (mouseover)="elevationJob='mat-elevation-z7'" (mouseout)="elevationJob='mat-elevation-z4'">
        <md-card-title class="title">For Jobs</md-card-title>
        <md-card-content>
            <a href="mailto:hr@tathva.ed.jp">hr@tathva.ed.jp</a>
        </md-card-content>
    </md-card>
</div>