<h1 class="mat-display-1 page-title">Process</h1>

<h1 class="content-title">How To Apply</h1>
<mat-accordion>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>1.&nbsp;<span class="panel-title">Review the Admissions Handbook</span></mat-panel-title>
        </mat-expansion-panel-header>
        <div class="section">
            <a mat-raised-button href="/assets/admissions/Admissions Handbook 2017-2018.pdf" target="_blank" rel="noopener" color="accent"
                class="button">Download Admissions Handbook</a>
        </div>
        <p>Please download the Admissions Handbook to understand the complete Admissions Process and school rules.</p>
        <p>Please also read the appropriate sections of our website for information on class placement, fee structure and bus
            routes.
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>2.&nbsp;<span class="panel-title">Send in Admissions Inquiry and Admissions Application Form</span></mat-panel-title>
        </mat-expansion-panel-header>
        <div class="section">
            <a mat-raised-button href="/assets/admissions/Application for Admission 2017-2018.pdf" target="_blank" rel="noopener" color="accent"
                class="button">Download Admissions Application Form</a>
        </div>
        <p>Send an inquiry mail to <a href="mailto:admissions@tathva.ed.jp">admissions@tathva.ed.jp</a> with a completed Admission
            Application Form.
        </p>
        <p>The information provided will be verified internally and an appointment will be provided to you by Admissions Team.
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>3.&nbsp;<span class="panel-title">School Visit and Assessment</span></mat-panel-title>
        </mat-expansion-panel-header>
        <p>On the day of visit, please bring a Photo identification card of yourself and the child.
            <br/>Please bring required documents as mentioned below.
        </p>
        <p>An overview about our school mission, philosophy, and curriculum will be given during your visit to school.</p>
        <p>Completed Admissions Application form and required documents are mandatory for an assessment to be conducted.
            <br />An application fee of ¥6,500 will charged for the assessment.
            <br />If an assessment is planned, the entire process will take 2-3 hours. The application fee is non-refundable.
        </p>
        <p>The assessment will be conducted by the academic team. A prior appointment is mandatory for an assessment. An assessment
            can be planned on the same day or on a different day.
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>4.&nbsp;<span class="panel-title">Respond to Admissions Decision</span></mat-panel-title>
        </mat-expansion-panel-header>
        <p>Following the interview and in-school assessment, student documents will be verified by our admissions team. Provided
            that all documents have been submitted on time, the results of the in-school assessment will be sent to parents
            via email within 7 working days.
        </p>
        <p>Acknowledgement of the acceptance by the parent within 7 business days followed by payment of the initial invoice
            will secure the admission.
        </p>
        <p>If any information provided to the school during admission process, is found to be falsified, then the school reserves
            the right to cancel the admission and initiate separation process.
        </p>
    </mat-expansion-panel>
</mat-accordion>

<h1 class="content-title">Required Documents</h1>
<mat-list dense>
    <mat-list-item>
        <mat-icon mat-list-icon>check</mat-icon>
        <p mat-line>1 ID Photo of the child.</p>
        <p mat-line>1 ID Photo of each parent.</p>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>check</mat-icon>
        <p mat-line>1 family photo.</p>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>check</mat-icon>
        <p mat-line>Copy of Birth Certificate.</p>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>check</mat-icon>
        <p mat-line>Copy of Passport.</p>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>check</mat-icon>
        <p mat-line>Copy of child's insurance card.</p>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>check</mat-icon>
        <p mat-line>Parent's work name card.</p>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>check</mat-icon>
        <p mat-line>Copy of Registration Card of both parents.</p>
    </mat-list-item>
</mat-list>

<h1 class="content-title">Admission Policy Information</h1>
<div class="section text-item">
    <h2>English as a Second Language</h2>
    <p>Students with limited English ability will be accepted on a case-by-case decision, depending on the space-availability
        and prior educational experiences.
    </p>
    <p>ESL students can be accepted with no knowledge of English up to Grade 5, provided they have a strong academic background
        and if the student performs well in our assessment test.
    </p>
    <p>At least one of the parents should be able to speak and read English, as all school correspondences will be conducted
        in English only. If neither of the parents are able to speak English, they must bring their own interpreter each
        time. The school will not divulge any information to another parent if brought as an interpreter.
    </p>
</div>
<div class="section text-item">
    <h2>Special Needs</h2>

    <p>All students accepted to Tathva International School are expected to function in the regular classroom independently.
    </p>
    <p>It is important to note that the ongoing enrollment at Tathva International School for students will be based upon the
        students’ ability to function within the regular program.
    </p>
    <p>Tathva International School does not have the facilities or resources to accommodate children who have significant learning,
        emotional or physical disabilities. Parents of a child receiving any special services, such as learning disabled
        instruction, remedial support, speech/language therapy, occupational/physical therapy, behavioral support, or seeing
        any educational specialist outside of the regular classroom, must disclose the additional services that are being
        implemented with your child. Supporting documentation from a school psychologist, previous school, and/or pediatrician
        may be requested by administration to complete the admission process and/or continue at Tathva International School.
    </p>

    <p>For questions on Admissions, please write to <a href="mailto:admissions@tathva.ed.jp">admissions@tathva.ed.jp</a></p>

</div>