<h1 class="mat-display-1 page-title">Process</h1>

<h1 class="content-title">How To Apply</h1>
<div class="section">
    <p>Please download the Admissions Handbook to understand the complete Admission Process and school rules.</p>
    <div>
        <a md-raised-button href="" target="_blank" color="accent" class="button">Download</a>
    </div>
</div>
<div class="section">
    <p>
        We request you to read appropriate sections of our website for information on class placement, fee structure and bus routes.
    </p>
    <ol>
        <li>Please send an inquiry mail to admissions@tathva.ed.jp along with duly filled up Admission Application Form.</li>
        <li>The information provided above will be verified internally and an appointment will be provided to you by Admissions
            Team.
        </li>
        <li>On the day of visit, please bring a Photo identification card of yourself and the child. Please bring necessary documents
            as mentioned in the Admission Application form.</li>
        <li>An overview about our school mission, philosophy, curriculum will be provided during your visit to school.</li>
        <li> Completed Admission Application form and required documents are mandatory for an assessment to be conducted. An application
            fee of 5400 yen will charged for the assessment. If an assessment is planned, the entire process will take 2-3
            hours. The application fee is non-refundable.</li>
        <li>The, assessment will be conducted by the academic team. A prior appointment is mandatory for an assessment. An assessment
            can be planned on the same day or on a different day.</li>
        <li>The admission notification will be mailed to the parents based on the assessment. Validation of the information provided
            in the completed application and submission of all relevant documents mandated by the school. The result of the
            assessment will be notified by an email within 7 business days from the receipt of completed application form.</li>
        <li>Acknowledgement of the acceptance by the parent within 5 business days followed by payment of the initial invoice
            will secure the admission.</li>
        <li>If any information provided to the school during admission process, is found to be falsified, then the school reserves
            the right to cancel the admission and initiate separation process.</li>
    </ol>
</div>
<h1 class="content-title">Required Documents:</h1>
<md-list dense>
    <md-list-item>
        <md-icon md-list-icon>check</md-icon>
        <p md-line>1 ID Photo of the child with white background.</p>
        <p md-line>1 ID Photo of each parent.</p>
    </md-list-item>
    <md-list-item>
        <md-icon md-list-icon>check</md-icon>
        <p md-line>1 family photo.</p>
    </md-list-item>
    <md-list-item>
        <md-icon md-list-icon>check</md-icon>
        <p md-line>Copy of Birth Certificate.</p>
    </md-list-item>
    <md-list-item>
        <md-icon md-list-icon>check</md-icon>
        <p md-line>Copy of Passport.</p>
    </md-list-item>
    <md-list-item>
        <md-icon md-list-icon>check</md-icon>
        <p md-line>Copy of child's insurance card.</p>
    </md-list-item>
    <md-list-item>
        <md-icon md-list-icon>check</md-icon>
        <p md-line>Parent's work name card.</p>
    </md-list-item>
    <md-list-item>
        <md-icon md-list-icon>check</md-icon>
        <p md-line>Copy of Registration Card of both parents.</p>
    </md-list-item>
</md-list>

<h1 class="content-title">Admission Policy Information</h1>
<div class="section">
    <h2>English as a Second Language</h2>
    <p>Students with limited English ability will be accepted on a case-by-case decision, depending on the space-availability
        and prior educational experiences.
    </p>
    <p>ESL students can be accepted with no knowledge of English up to Grade 5, provided they have a strong academic background
        and if the student performs well in our assessment test.
    </p>
    <p>At least one of the parents should be able to speak and read English, as all school correspondences will be conducted
        in English only. If neither of the parents are able to speak English, they must bring their own interpreter each
        time. The school will not divulge any information to another parent if brought as an interpreter.
    </p>
</div>
<div class="section">
    <h2>Special Needs</h2>

    <p>All students accepted to Tathva International School are expected to function in the regular classroom independently.
    </p>
    <p>It is important to note that the ongoing enrollment at Tathva International School for students will be based upon the
        students’ ability to function within the regular program.
    </p>
    <p>Tathva International School does not have the facilities or resources to accommodate children who have significant learning,
        emotional or physical disabilities. Parents of a child receiving any special services, such as learning disabled
        instruction, remedial support, speech/language therapy, occupational/physical therapy, behavioral support, or seeing
        any educational specialist outside of the regular classroom, must disclose the additional services that are being
        implemented with your child. Supporting documentation from a school psychologist, previous school, and/or pediatrician
        may be requested by administration to complete the admission process and/or continue at Tathva International School.
    </p>

    <p>For questions on Admission, please write to:  admissions@tathva.ed.jp</p>

</div>