<h1 class="mat-display-1 page-title">Pricing and Fees</h1>
<md-tab-group class="mat-typography">
  <md-tab label="Kindergarten">
    <h5>One Time Fees</h5>
    <span class="mat-caption"><i>Non-refundable; one time only</i></span>
    <div fxLayout="row" fxLayoutAlign="start start">
      <span class="mat-body-1" fxFlex.gt-sm="50">Application Fee</span>
      <span>¥</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start">
      <span class="mat-body-1" fxFlex.gt-sm="50">Building Fee</span>
      <span style="text-align: right;">¥</span>
    </div>
  </md-tab>
  <md-tab label="Primary">
    <h1>Some more tab content</h1>
    <p>...</p>
  </md-tab>
  <md-tab label="Secondary">
    <h1>Some more tab content</h1>
    <p>...</p>
  </md-tab>
  <md-tab label="IGCSE">
    <h1>Some more tab content</h1>
    <p>...</p>
  </md-tab>
</md-tab-group>