@import '../../../theme';

.fee-table {
  max-width: 768px;
  width: 100%;
}

.grade-table {
  width: 100%;
}

.tbl-container {
  // Force block display so it works on smaller screens - flex display is broken.
  display: block !important;
  max-width: 100%;
}

@media screen and (max-width: $screen-md) {
  .tbl-container {
    max-width: 95vw;
    width: 100%;
    overflow-x: auto;
  }
}

.sub-table-section {
  background-color: mat-color($tathva-app-accent, 100);
}

.sub-table-total {
  background-color: mat-color($tathva-app-primary, 100);
}

// We need dual-lined tabs
::ng-deep {
  .mat-tab-label {
    display: grid !important;
  }
}

.tax-line {
  color: mat-color($tathva-app-accent, 500);
}
