<h1 class="mat-display-1 page-title">Primary Education</h1>

<div class="section">
  <img class="banner" src="/assets/education/primary/banner.jpg" />
</div>
<div class="section text-item">
    <p>From spelling bees to IGCSEs, karate to art, Tathva has something for everyone!</p>

    <p>From its humble beginnings as a parent startup school, Tathva now enjoys a rich and varied curriculum, Cambridge accreditation
        and boasts a student body of over 400 students.
    </p>

    <p>The Primary timetable includes 12 subjects, ranging from the core English, Maths and Science to Social Studies and karate.
        Students also have a choice of second language to study. <br/> Students follow a Cambridge approved curriculum but
        can also take external tests such as UNSW and International Olympiad. Tathva students visit the ICT suite and school
        library once a week and have access to a science lab. The school utilizes the nearby park and community centers for
        PE, as well as the school gym. <br/>After school, students have access to clubs such as dance, robotics, chess and
        many more. New clubs are being created regularly and the school is always keen to discover and nurture our students'
        talents!
    </p>

    <p>Throughout the year, Tathva students enjoy a multitude of events. Field trips range from a day trip to the local aquarium
        to overnight stays in places further afield, such as Nikko. Sports day is always a fun day which helps build confidence,
        inspire fair play and stresses the importance of teamwork.
    </p>

    <p>The school spelling bee is held in January, with winning students going on to represent the school in national events.
        You may have seen one of our students in the Japan Times after he won the all-Japan competition!<br /> Other events
        included the PTA-led Autumn Fair, Summer School and the huge Annual Day performance and awards event at the end of
        the year.
    </p>

    <p>Tathva has continued to grow and expand every year and the future looks very bright indeed. Why don't you come and join
        us?
    </p>
</div>

<div class="section" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="2rem" fxLayoutAlign="space-around center">
    <img class="article-img" src="/assets/home/cie_logo.png" /> 
</div>