@import '~@angular/material/theming';

$tathva-app-primary: mat-palette($mat-teal);
$tathva-app-secondary: mat-palette($mat-green);
$tathva-app-accent:  mat-palette($mat-amber);

// The warn palette is optional (defaults to red).
$tathva-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$tathva-app-theme: mat-light-theme($tathva-app-primary, $tathva-app-accent, $tathva-app-warn);

// Other colours used throughout
$dark: #333;
$grey-font: #808080;
$footer-height: 200px;
$fore-color: #fff;
$brand-font: 'Quicksand', sans-serif;

// Global screen sizes to match fxFlex
$screen-xs: 599px;
$screen-ss: 768px;
$screen-sm: 959px;
$screen-md: 1279px;
$screen-lg: 1919px;
$screen-xl: 5000px;
