@import '../../theme';

$fore-color: #fff;

/deep/ .swiper-container {
    max-width: 100vw;
    width: auto;
    height: auto;

    /deep/ img {
        width: auto;
        height: auto;
        max-width: 100vw;
    }
} 

.swiper-button-next,
.swiper-button-prev {
    color: mat-color($tathva-app-accent);
    background-image: none;
    transform: scale(1.5);
}

/deep/ .swiper-pagination {
  .swiper-pagination-bullet {
      background-color: mat-color($tathva-app-accent);
      opacity: 1;
  }

  .swiper-pagination-bullet-active {
      background: mat-color($tathva-app-primary);
      transform: scale(1.5);
  }
}

.heading-item {
  background-color: mat-color($tathva-app-primary);
  border-bottom-right-radius: 360px;
  display: table;
  padding-right: 40px;
}

h1 {
  color: $fore-color;
  font-size: 1.5em;
  padding-left: 10px;
  padding-top: 10px;
}

.body-item {
  font-size: 1.2em;
  line-height: 1.2em;
  margin: auto;
  padding: 10px;
}

@media screen and (min-width: 960px) {

  h1 {
    font-size: 2em;
  }

  .body-item {
    font-size: 1.5em;
    line-height: 1.5em;
    width: 65vw;
  }
}
