@import '../../theme';

/deep/ .swiper-container {
    max-width: 100vw;
    width: auto;
    height: auto;

    /deep/ img {
        width: auto;
        height: auto;
        max-width: 100vw;
    }
} 

.swiper-button-next,
.swiper-button-prev {
    color: mat-color($tathva-app-accent);
    background-image: none;
    transform: scale(1.5);
}

/deep/ .swiper-pagination {
    .swiper-pagination-bullet {
        background-color: mat-color($tathva-app-accent);
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background: mat-color($tathva-app-primary);
        transform: scale(1.5);
    }
}