@import '../../theme';

$fore-color: #fff;

.swiper-container {
    max-width: 100vw;
    width: auto;
    height: auto;

    img {
        width: auto;
        height: auto;
        max-width: 100vw;
    }
}

.swiper-button-next,
.swiper-button-prev {
    color: mat-color($tathva-app-accent);
    background-image: none;
    transform: scale(1.5);
}

::ng-deep .swiper-pagination {
  .swiper-pagination-bullet {
    background-color: mat-color($tathva-app-accent);
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: mat-color($tathva-app-primary);
    transform: scale(1.5);
  }
}

.heading-item {
  background-color: mat-color($tathva-app-primary);
  border-bottom-right-radius: 360px;
  display: table;
  padding-right: 40px;
}

h1 {
  color: $fore-color;
  font-size: 1.5em;
  padding-left: 10px;
  padding-top: 10px;
}

.body-item {
  font-size: 1.2em;
  line-height: 1.2em;
  margin: auto;
  padding: 10px;
}

@media screen and (min-width: 960px) {

  h1 {
    font-size: 2em;
  }

  .body-item {
    font-size: 1.5em;
    line-height: 1.5em;
    width: 65vw;
  }
}

.parallax {
  background-image: url('/assets/home/banner.jpg');
  background-size: 100%;
  width: 100vw;
}

@media screen and (min-width: 960px) {
  .parallax {
    height: 300px;
  }
}

@media screen and (max-width: 959px) {
  .parallax {
    height: 150px;
  }
}

.cards-container {
  width: 100vw;
}

.cards {
  padding: 20px;
}

.values-card {
  background-color: mat-color($tathva-app-primary);
  color: $fore-color;
}

.links-card,
.values-card {
  max-width: 60vw;
  width: 60vw;
}

@media screen and (min-width: 960px) {
  .values-card,
  .links-card {
    max-width: 300px;
  }
}

.links-parallax {
  background-image: url('/assets/home/banner2.jpg');
  background-size: 100%;
  height: auto;
}
