<div [swiper]="config" class="swiper-container" (indexChange)="onIndexChange($event)" [runInsideAngular]="true">
    <div class="swiper-wrapper">

        <div class="swiper-slide" fxLayout="column" fxLayoutAlign="center center"><img src="../assets/carousel/carousel_1.jpg"></div>
        <div class="swiper-slide" fxLayout="column" fxLayoutAlign="center center"><img src="../assets/carousel/carousel_2.jpg"></div>
        <div class="swiper-slide" fxLayout="column" fxLayoutAlign="center center"><img src="../assets/carousel/carousel_3.jpg"></div>
        <div class="swiper-slide" fxLayout="column" fxLayoutAlign="center center"><img src="../assets/carousel/carousel_4.jpg"></div>
    </div>


    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev">
        <md-icon>keyboard_arrow_left</md-icon>
    </div>
    <div class="swiper-button-next">
        <md-icon>keyboard_arrow_right</md-icon>
    </div>
</div>
<div class="mat-typography page-body" fxLayout="column" fxLayoutWrap>
    <div class="heading-item mat-elevation-z3">
        <h1 class="mat-primary">Our Vision</h1>
    </div>
    <div fxFlexAlign="center" class="body-item">
        <p>Tathva International School in Japan is an initiative to nurture academic excellence and to demonstrate leadership
            in character development. Our school is committed to providing a learning environment where each student is empowered
            for his or her own social, academic and physical well-being in order to become a contributing member of the society.
        </p>
    </div>

    <div ngui-parallax class="mat-elevation-z1 parallax">
        <img src="../assets/home/banner.jpg" />
    </div>

    <div class="heading-item mat-elevation-z3">
        <h1 class="mat-primary">Our Education</h1>
    </div>
    <div fxFlexAlign="center" class="body-item">
        <p>We offer Pre-K to Cambridge IGCSE. Our strong focus on science, mathematics, and English is designed rigorously around
            the Cambridge programme to ensure our students will be accepted into the top universities around the world. The
            Cambridge programme is the largest educational programme in the world and is not only well-known, it is well-respected
            and gives the learners of our school an advantage when applying for university. Our school is a university preparatory
            school with a rigorous curriculum and high standards.
        </p>
    </div>

    <div ngui-parallax class="mat-elevation-z1 parallax">
        <img src="../assets/home/banner2.jpg" />
    </div>

</div>